/* app css stylesheet */
@import url('components/spinner/spinner.css');
@import url('components/timeline/timeline.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
  color: #ccc;

  margin: 0px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

a{
  color: #fff;
}

.page{
  padding-top: 80px;
}

h1{
  background: #000;
  border-bottom: 2px solid red;
  padding: 10px;
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}