<ol class="f1-timeline">
    <div class="vertical-line"></div>
    <div ng-if="!seasons" class="spinner"></div>
    <li ng-repeat="season in seasons" class="season" ng-class="{'open': season.open}">
        <a href="" ng-click="toggleSeason(season)">
            <span class="year">{{season.season}}</span>
            <span class="driver">{{season.DriverStandings[0].Driver.givenName}} {{season.DriverStandings[0].Driver.familyName}}</span>
            <span class="constructor">{{season.DriverStandings[0].Constructors[0].name}}</span>
        </a>
        <ol ng-if="season.open" class="season-races" ng-class="{'animate': season.animate, 'animationFinished': season.animationFinished}">
            <span ng-if="season.open && season.loading" class="spinner"></span>
            <li ng-repeat="race in season.races" ng-class="{'season-winner': isSeasonWinner(race, season)}">
                <span class="date">{{race.date}}</span>
                <span class="driver">{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</span>
                <span class="constructor">{{race.Results[0].Constructor.name}}</span>
            </li>
        </ol>
    </li>
</ol>