ol.f1-timeline{
    margin: 0px;
    padding: 0px;
}

.f1-timeline .vertical-line{
    position: fixed;
    z-index: -10;
    left: 33%;
    border-right: 1px solid red;
    height: 100%;
    width: 1px;
    top: 0px;
}

.f1-timeline li.season {
    list-style: none;
    border-left: 10px solid transparent;
    border-radius: 4px;
    margin-bottom: 1px;
    display: block;
}

.f1-timeline li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.4em;
    transition: background 0.5s;
}
.f1-timeline li.season a:hover{
    background: rgba(255,255,255,0.2);
}
.f1-timeline li.season:hover{
    border-left: 10px solid #666;
}
.f1-timeline li.season.open{
    border-left: 10px solid red;
}

.f1-timeline .year, .f1-timeline .date{
    width: calc(33% - 27px);
    display: inline-block;
    text-align: right;
    padding-right: 20px;
}
.f1-timeline .year::after{
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: -19px;
    margin-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: red;
}

.f1-timeline .driver{
    padding-left: 10px;
}

.constructor{
    display: inline-block;
    font-size: 10px;
    padding: 2px;
    background: #ccc;
    color: #000;
    border-radius: 4px;
    margin-left: 10px;
}

.f1-timeline li ol.season-races{
    display: block;
    margin: 0px;
    padding: 0px;
    max-height: 0px;
    overflow-y: hidden;
    box-sizing: border-box;
    transition-property: max-height;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.f1-timeline .season-races.animate{
    max-height: 400px;
}
.f1-timeline .season-races.animate.animationFinished{
    max-height: inherit;
}

.f1-timeline .season-races li{
    list-style: lower-latin;
    padding: 5px;
}

.f1-timeline .season-races li.season-winner .driver{
    background: #666;
    display: inline-block;
    border-radius: 4px;
    padding-right: 10px;
}
.f1-timeline .season-races .date::after{
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-right: -19px;
    margin-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: red;
}